.DescriptionBody {
    width: 100vw;
    height: 80vh;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
  }
  .DescriptionImg {
    width: 50vw;
    height: 100%;
    /* background: url(../../assets/images/background/shopify-bg.jpg)  no-repeat center fixed;
    background-size: cover; */
    background:beige;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .DescriptionImg .DescriptionImgContainer {
    width: 40vw;
    height: 80%;
    background-color: rebeccapurple;
  }
  .DescriptionImg .DescriptionImgContainer img {
    width: 100%;
    height: 100%;
  }
  
  .DescriptionContent {
    width: 50vw;
    height: 100%;
    background-color: whitesmoke;
    box-sizing: border-box;
    padding: 1rem 1.2rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .DescriptionContentBrandName {
    font-size: 2rem;
    font-weight: 700;
  }
  .DescriptionContentPrice {
    font-size: 1.2rem;
  }
  .DescriptionContentDescription,
  .DescriptionContentSeller {
    font-style: italic;
  }
  .DescriptionContentDescriptionSpan,
  .DescriptionContentOfferSpan,
  .DescriptionContentSellerHeader {
    font-style: normal;
    font-weight: 600;
    color: black;
  }
  .DescriptionContentOffer {
    font-style: italic;
    color: green;
  }
  .DescriptionContent .DescriptionBtn {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .DescriptionContent .DescriptionBtn button {
    width: 5rem;
  margin: 0 5px;
  background-color: rgb(226, 222, 222);
  border: none;
  margin: none;
  border-radius: 10%;
  }
  .DescriptionContent .DescriptionBtn button:hover{
    background-color: gray;
  }
  .itemStock {
    color: red;
    font-style: italic;
  }