.CheckOutParentDiv {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
  
    overflow: auto;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .formContainer {
    width: 50vw;
    background-color: white;
    padding: 20px;
    list-style-type: none;
  }
  .formContainer li {
    display: flex;
    margin: 10px;
    justify-content: center;
  }
  .formContainer li label {
    flex: 1;
  }
  .formContainer li input {
    flex: 1;
  }