

.footer-wrapper {
  display: flex;
  max-width: 1440px;
  margin-inline: auto;
  border-top: white 2px solid;
  justify-content: space-between;
  padding-top: 1.5rem;
}


.footer-wrapper.footer-light {
  border-top: white 2px solid;
}

.footer-logo {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}