.footer {
    width: 100vw;
    height: 10vh;
    background-color: aquamarine;
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
  }
  .footer .copyright {
    display: flex;
  }
  .footer .copyright p {
    padding: 0 1.2rem;
  }
  
  .termsAndCond ul {
    list-style-type: none;
  }
  .termsAndCond ul li a {
    text-decoration: none;
    padding: 0 10px;
  }
  .termsAndCond ul li {
    display: inline-block;
  }
  