.WishListBodyParent {
  width: 100vw;
  height: 80vh;
  /* background: url(../../assets/images/background/wishlist-bg.jpg)  no-repeat center fixed transparent;
  background-size: cover; */
  background: beige;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
}
.WishlistCart {
  width: 100vw;
  height: 80vh;
  /* background: url(../../assets/images/background/wishlist-bg.jpg)  no-repeat center fixed transparent;
  background-size: cover; */
  background: beige;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
  justify-content: center;
  align-items: center;
}
.itemContainer {
  margin: 20px;
  width: 500px;
  height: 200px;
  /* border: 5px solid blue; */
  border: none;
  display: flex;
}
.itemImg {
  width: 200px;
  height: 100%;
}
.itemImg img{
  height: 100%;
  transition: all 0.2s ease-in-out;
}
.itemImg img:hover{
  transform: scale(1.02);
}
.itemContent {
  width: 300px;
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.itemContent p {
  font-weight: 800;
}
.wishlistPageRemoveBtn,
.wishlistPageCartBtn,
.wishlistPageBuyBtn {
  width: 5rem;
  margin: 0 5px;
  background-color: rgb(226, 222, 222);
  border: none;
  margin: none;
  border-radius: 10%;
}
.itemImg img {
  width: 100%;
  height: 100%;
}
.InStock {
  color: blue;
}
.outOfStock {
  color: red;
}
.noItemFoundWishList {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.wishlistPageRemoveBtn:hover,
.wishlistPageCartBtn:hover,
.wishlistPageBuyBtn:hover{
  background-color: gray;
}